@import "../../../app/app-root/app.component.scss";

.sign-up {
    text-align: center;

    .sign-up-title {
        text-align: center;
        font-size: 3rem;
        margin-block-start: rem(30px);
    }

    .input-login {
        height: 30px;
    }

    .error-message {
        color: red;
        margin-inline-start: -2.5rem;
    }

    .btn-login {
        margin-inline-start: rem(30px);
        height: 30px;
    }

    .logo-img {
        margin-block-start: rem(30px);
        margin-block-end: rem(30px);

        img {
        }
    }

    h4 {
        margin-block-start: rem(10px);
        margin-block-end: rem(10px);
    }
}


@include for-mobile-layout {
    .sign-up {
        min-height: 67vh;
        .logo-img {
            margin-block-end: 2.875rem;
        }
        h4{
            margin-block-end: 4.3rem;
        }
    }
    img {
        height: rem(325px);
        width: rem(325px);
    }
    
}